.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

.resume {
    display: flex;
    font-family: var(--font-family, Arial, sans-serif);
    font-size: var(--font-size, 16px);
    background-color: var(--header-bg-color, #ffffff);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 700px;
    flex-direction: column;
} 
 
.header {
    background-color: var(--header-bg-color, #ffffff);
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    color: #333;
}
.section {
    margin: 20px 0;
}

.skills, .experiences {
    list-style: none;
    padding: 0;
}
.skills li {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
